<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.accidentsystem">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstPage">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".EmployeeChoose" />
        <activity android:name=".HistoryDetail" />
        <activity android:name=".CreateNewReport" android:configChanges="orientation|screenSize">
            </activity>
        <activity android:name=".Message" />
        <activity android:name=".EmployeeRegister" />
        <activity android:name=".AdminPage" />
        <activity android:name=".AddEMP" />
        <activity android:name=".Admin" />
        <activity android:name=".Evaluate" />
        <activity android:name=".Info" />
        <activity android:name=".EmpHomePage" />
        <activity android:name=".history" />
        <activity android:name=".MainActivity" />

        <activity android:name=".register" />
        <activity android:name=".Home" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.HOMEPAGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>